/* color palette
#75a3a7 darker blue
#8ed944 lime green
#a1c0c3 very light blue
#63852d darker green
*/

body{
    margin: 0;
    background-color: #a1c0c3;

}

.nav-bar{
    width: auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #8aba3f;
    height: 75px;
}

#name-title{
    font-family: miso-bold;
    font-size: 30px;
    color:white
}


.nav-text{
    position: relative;
    font-family: miso-bold;
    font-size: 20px;
    text-decoration: none;
}

#header{
    background-color: #63852d;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 75%);
    position: static;
}

a{
    text-decoration: none;
    color: white;
}

img{
    /* position:relative; */
    border-radius: 50%;
    background-color: #63852d;
}

.hero-img {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    margin: 20px;
}

#hero-img{
    border-radius: 50%;
    width: 50%;
    background-color: #63852d;
    float: left;
    height: auto;
}

.hero1{
    text-align: center;

}

.hero-text { 
    display: flex;
    flex-direction: column;
    width: 50%;
    float: right;
    /* background-color: #8ed944; */
}

.hero2{
    display: flex;
    align-items: center;
}


.hero-img2{
    height: 100%;
    width: 25%;
    float: right;
}

.hero-text2{
    height: 50px;
    width: 50%;
    text-align: center;
}


.col{
    font-size: 35px;
    height: 50px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.hero-img3{
    border-radius: 0%;
    height: 300px;
    display: flex;
    align-items: baseline;
    height: 100%;
    width: 25%;
    float: right;
}


#hero-text3{
    height: auto;
    width: 50%;
    text-align: center;
}

.hero3{
    display: flex;
    align-items: center;
}

h1{
    color: white;
}

p{
    font-size: 20px;
}

.hero{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

#email{
    font-size: 15px;
}

.links{ 
    float: right;
    padding: 5px;
}

@media only screen and (max-width: 600px){
    .header, .col, .container, .hero2, .hero3{
        width: 100%;
    }
    .col, #hobbies{
        height: auto;
    }
    #projects{
        margin-top: auto;
    }
}

