body{
    margin: 0;
    background-color: #a1c0c3;

}

.nav-bar{
    width: auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #a1c0c3; 
    height: 75px;
}

#name-title{
    position: relative;
    font-family: miso-bold;
    font-size: 30px;
    margin-bottom: 20px;
    top: 12px;
    float: left;
    color:white
}

.nav-text{
    float: right;
    position: relative;
    font-family: miso-bold;
    font-size: 20px;
    margin-bottom: 20px;
    top: 30px;
    text-align: center;
    text-decoration: none;
}

#header{
    background-color: #a1c0c3;
}

a{
    text-decoration: none;
    color: white;
}

.hero-img{
    width: 100%;
    height: 500px;
}

#hero1{
    background-image: url(media/forest.jpeg);
    background-repeat: no-repeat;
    background-position: right;
}
